---
import { Linkedin, Instagram, Mail, Layout } from 'lucide-astro'

interface ContactLink {
  name: string;
  icon: typeof Layout;
  href: string;
  label: string;
}

const contacts: ContactLink[] = [
  {
    name: 'LinkedIn',
    icon: Linkedin,
    href: 'https://www.linkedin.com/in/mirza-muric-85213a180/',
    label: 'Connect on LinkedIn'
  },
  {
    name: 'Instagram',
    icon: Instagram,
    href: 'https://instagram.com/free_mountaineer',
    label: '@free_mountaineer'
  },
  {
    name: 'Email',
    icon: Mail,
    href: 'mailto:mirza_muric@outlook.com',
    label: 'mirza_muric@outlook.com'
  }
];
---

<footer class="mt-32 bg-gray-50 dark:bg-zinc-900/50">
  <div class="max-w-4xl mx-auto px-4 py-12">
    <div class="flex flex-col space-y-8">
      <p class="text-sm tracking-wide text-gray-500 dark:text-gray-300">GET IN TOUCH</p>
      <div class="flex items-center justify-between gap-8">
        <div class="flex items-center gap-8">
          {contacts.map(({ name, icon: Icon, href }) => (
            <a
              href={href}
              rel="noopener noreferrer"
              target="_blank"
              class="text-gray-500 dark:text-gray-300 hover:text-black dark:hover:text-white transition-colors"
              aria-label={name}
            >
              <Icon class="w-5 h-5" />
            </a>
          ))}
        </div>
        
        <p class="text-gray-500 dark:text-gray-300 text-sm">
          © Mirza Muric
        </p>
      </div>
    </div>
  </div>
</footer>
